/*--------------------------------------------------------------
# Roadmap Layout
--------------------------------------------------------------*/
.roadmap-columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.roadmap-column {
  flex: 1 1 30%;
  min-width: 280px;
}

.roadmap-status {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: var(--heading-color);
  padding-bottom: 4px;
  margin-left: 22px;
}

.roadmap-actions {
  list-style: disc;
  margin: 0;
  padding-left: 40px;
  line-height: 1.6;
  color: var(--default-color);
}

.roadmap-divider {
  border: none;
  border-top: 1px solid #fff;
  margin: 40px 0;
}

.roadmap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.texto-esquerda-flex {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.roadmap-img {
  max-width: 240px;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
}

.roadmap-divisor {
  border: 2px solid white;
  width: 100%;
}

.subtitulo-roadmap {
  margin-bottom: 5px;
  margin-top: 5px;
}

.nome-eixo {
  padding-bottom: 5px;
  padding-top: 5px;
  align-items: center;
  background-color: #2a3e59;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 20px;
}

.nome-eixo__titulo {
  font-size: 1.5rem;
  padding-left: 6px;
  margin-bottom: 0;
  margin-top: 0;
}

.roadmap-divisor__eixo {
  border: none;
  border-top: 1.5px solid #ffffff;
  opacity: 1;
  background-color: #ffffff;
  z-index: 2;
}

.item-acao { margin-bottom: 10px; }
